body{
    font-family: "Roboto",
        sans-serif;
    color: #434455;
    background-color: #FFFFFF;

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Tahoma';
    margin: 0;
}
p{
    margin: 0;
}
a {
    text-decoration: none;
}
img{
    box-sizing: border-box;
}
section{
padding: 120px 120px;
}


.container{
    


    
}

/* Header */
.header{
border-bottom: 1px solid #e7e9fc;

}
.container{
    width: 1440px;
        padding: 0 15px;
        margin: 0 auto;
}
.header-conteiner{
display: flex;
align-items: center;
}

.logo{
font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
    


    
}

.logo-web{
    color: #2e2f42;
}
.navigation{
    display: flex;
    align-items: center;
}
.nav-ul{
    display: flex;
    gap: 40px;
}
.nav-ul-studio-a{

        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #2e2f42;
        padding: 24px 0;
        display: block;

}
.nav-ul-studio-a:hover {
    color: #404bbf;
}

.nav-ul-studio-a:focus {
    color: #404bbf;
}

    .address{
        font-style: normal;
        margin-left: auto;
        
    }
    .address-info{
        color: #434455;
    }
        .address-info:hover{
            color: #404bbf;
        }
        .address-info:focus{
            color: #404bbf;
        }
.address-mail-tel{
   
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #434455;
        display: flex;
        gap: 40px;

}
/* main */

/* section 1 */
.container{


}
.main-section-oun{
    background: #2e2f42;
}
.title{
    font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 56px;
        line-height: 107%;
        letter-spacing: 0.02em;
        text-align:center;
        color: #fff;
    display: block;  
    padding: 188px 472px 292px; 
}
.button{

    cursor: pointer;
   
        background: #4d5ae5;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #ffffff;
        border-radius: 4px;
            padding: 16px 32px;
            width: 169px;
            height: 56px;
}
.button:hover{
    background-color: #404BBF;
}
.button:focus{
    background-color: #404BBF;
}
/* section two */
.our-advantages-conteiner{
    width: 1128px;
        padding: 0 15px;
        margin: 0 auto;
       
}
.title-strategy{

        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
.strategy-info{

        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #434455;
}

/* section three */
.our-team{
    background: #f4f4fd;
}
.title-our-team{

        font-weight: 700;
        font-size: 36px;
        line-height: 111%;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        color: #2e2f42;
}
.our-team-card{
        background: #fff;
        
}
.img-team{

        background: url("path_to_image");
        
}
.name-team{

        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        letter-spacing: 0.02em;
        
        color: #2e2f42;
}
.team-info{

        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;

        color: #434455;
}
/* section four */
.title-portfolio{
    font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 36px;
        line-height: 111%;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        color: #2e2f42;
}
.img-works{
        
        background: url("path_to_image");
}
.title-works{

        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
.works-info{

        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #434455;
}
.our-portfolio-card{
        
        background: #fff;
        
}
/* Footer */
.footer{
    background: #2e2f42;
}
.footer-text{

        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #f4f4fd;
}


.h-logo-f{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:#4d5ae5;
}
.logo-web-f{
    color: #f4f4fd;
}





